[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
nltk = "*"
websearch = "*"
requests = "*"
bs4 = "*"
pandas = "*"
selenium = "*"
webdriver-manager = "*"
selenium-wire = "*"
msedge-selenium-tools = "*"

[requires]
python_version = "3.9"